{% extends 'main/base.html' %}
{% load my_tags%}

{% block content %}


<div class="container text-center">
    <h1 class="container text-center pt-5">
        You can add product
    </h1>
    <form method="post">
        {% csrf_token %}
        <div class="input-group flex-nowrap">
            <span class="input-group-text" id="addon-wrapping">Product name</span>
            <input type="text" name="product_name" class="form-control" placeholder="Product name"
                   aria-label="Product name"
                   aria-describedby="addon-wrapping">
        </div>
        <div class="input-group flex-nowrap">
            <span class="input-group-text" id="addon-wrapping">Product description</span>
            <input type="text" name="product_description" class="form-control" placeholder="Something"
                   aria-label="Product description"
                   aria-describedby="addon-wrapping">
        </div>

        <div class="input-group flex-nowrap">
            <span class="input-group-text" id="addon-wrapping">Price</span>
            <input type="text" name="price" class="form-control" placeholder="Price"
                   aria-label="Price"
                   aria-describedby="addon-wrapping">
        </div>

        <select class="form-select" aria-label="Default select example" name="category">
            <option selected>Category</option>
            <option>Vegetables</option>
            <option>Fruits</option>

        </select>

        <div class="mb-3">
            <input class="form-control" type="file" id="formFile">
        </div>

        <input type="submit" value="Отправить">
    </form>

</div>


{% endblock %}