{% extends 'main/base.html' %}
{% load my_tags%}

{% block content %}
<div>
    <h1 class="container text-center pt-5">
        Article
    </h1>


    <div class="py-5">
        <div class="container">

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

                <div class="col">
                    <div class="card shadow-sm">
                        <img src="{{ object.blog_image|my_media }}" alt="image" height=200px width=300px>
                        <div class="card-body">
                            <p class="card-text">{{ object.title }}</p>
                            <p class="card-text">{{ object.text }}</p>
                            <p class="card-text">Number of views - {{ object.number_views }} RUB</p>
                            <p class="card-text">Data created - {{ object.data_created }}</p>
                            <p class="card-text">Data published - {{ object.data_published }}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="{% url 'article_list' %}" type="button" class="btn btn-sm btn-outline-secondary">Back</a>
                                </div>
                                <small class="text-body-secondary">{{ object.number_views }}</small>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


</div>

{% endblock %}