{% extends 'main/base.html' %}
{% load my_tags%}

{% block content %}

<div class="container text-center">
    <h1>
        Оставьте свои контакты)))
    </h1>
    <form method="post">
        {% csrf_token %}
        <div class="input-group flex-nowrap">
          <span class="input-group-text" id="addon-wrapping">Name</span>
          <input type="text" name="username" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping">
        </div>
        <div class="input-group flex-nowrap">
          <span class="input-group-text" id="addon-wrapping">Email</span>
          <input type="email" name="email" class="form-control" placeholder="name@gmail.com" aria-label="Username" aria-describedby="addon-wrapping">
        </div>

        <input type="submit" value="Отправить">
    </form>

    <div>
        <h2>{{name}}</h2>
    </div>
</div>

{% endblock %}